@import url('https://fonts.googleapis.com/css?family=Raleway');

.html{
    background-color: #f0eff4;

}

.topnav {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.topnav a {
    float: left;
    display: block;
    color: #231f20;
    text-align: center;
    margin-top:5.7vh;
    margin-left:21%;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: #f2545b;
    font-size: 20px;
}

.topnav a.active {
    color: #f2545b
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
}

.td {
    border: 5px solid #dddddd;
    padding: 8px;
    width: 50%;
    height: 450px;
}

.tr:nth-child(even) {
    background-color: #dddddd;  
}
.images{
    width: 25%;
    height: 140px;
    padding: 5px;
}