@import url('https://fonts.googleapis.com/css?family=Raleway');

.html, body, head{
    background-color: #f0eff4;

}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #231f20
}

h3{
    font-family: 'Raleway', sans-serif;
    font size: 20px;
    margin-left: 0%;
    margin-right: 25%; 
    margin-top: 10%;
    color:#f2545b;    
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-left: 35%;
    margin-right: 5%;
    color: #231f20;
    text-align: left
}

.topnav {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.topnav a {
    float: left;
    display: block;
    color: #231f20;
    text-align: center;
    margin-top:5.7vh;
    margin-left:21%;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: #f2545b;
    font-size: 20px;
}

.topnav a.active {
        color: #f2545b
}
.container {
    position: relative;
    width:100%;
}

.image {
  opacity: 1;
  display: inline-table;
  width: 100%;
  height: 470px;
  transition: .3s ease;
  backface-visibility: hidden;
align-content: center;

}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.6;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #f0eff4;
  color: blacK;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding: 16px 32px;
  display: inline-table;
}

.table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 50%;
    align-self: center;
}
.td{
    width: 100%;
    height: 300px;
    align-content: center;
    margin:  1px;
    
}